@import "reset.css";
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  background: #f9f9f9;
}

.container {
  width: 320px;
  height: 1000px;
  background: #FFFFFF;
  margin: 0 auto;
  overflow: hidden;
}

.list-view {
  background: #FFFFFF;
}

.contacts-list {
}

.contact-list__item {
  height: 70px;
  padding: 20px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
}

.contact-list__item:hover {
  background: #efefef;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.1s;
}

.item-userame {
  font-size: larger;
}


.item-userame:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../i/default-img.png");
  background-size: 100%;
  margin-right: 24px;
}

@keyframes user-anime {
  from {
    transform-origin: top;
    transform: scaleY(0%);
  }
  to {
    transform-origin: top;
    transform: scaleY(100%);
  }
}
.details-view {
  width: 100%;
}

.user-animation {
  animation-name: user-anime;
  animation-duration: 0.5s;
}

.background {
  height: 90px;
  width: 100%;
  background: url("../i/background-active.jpg");
  display: flex;
  align-items: center;
}

.back {
  width: 30px;
  height: 30px; 
  background: url("../i/back-icon.png");
  cursor: pointer;
  background-size: 100%;
  border: 0;
  margin-left: 12px;
  margin-right: 24px;
}

.back:hover {
  transform: scale(1.2);
  transition: transform 0.6s;
}

.user-img {
  width:80px;
  height: 80px; 
  background: url("../i/default-img.png");
  background-size: 100%;
  border: 0;
  border-radius: 50%;
  margin-right: 12px;
}

.user-name {
  font-size: 26px;
  font-weight: 700;
}

.details-view ul {
  margin-top: -30px;
}

.details-view li {
  height: 60px;
  line-height: 70px;
  border-bottom: 1px solid #dddddd;
}

.details-view li i {
  font-size: 1.2rem;
  margin: 0 15px;
}

.people-title {
  margin-left: 8px;
  font-weight: bold;
  font-size: larger;
}

.hidden {
  display:none;
}